body {
    background-color: black;
    color:white;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.col,
[class*="col-"] {
    padding: 30px;
}
.row {
    --bs-gutter-x: 1.5rem;
}
.btn {
    background-color: black;
    border-color: black;
    color: white;
}
.text- {
    color: black;
}
.btn:hover {
    background-color: darkred;
    color: white;
    border-color: darkred;
}
.form {
    color:white;
    background-color: darkred;
}
.dropdown-item{
    background-color: black;
    color:#989DA0;

}
.dropdown-menu.show{
    background-color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: left;
    padding-left:10px;
}